* {
    font-weight: 500;
    letter-spacing: 1px;
    
}
body {
    background-color: rgb(70, 68, 66);
}

.nav-link active {
    color: rgb(34, 32, 32);
    ;
}

/* Etusivu */


.etusivu {
    text-align: center;
    background-color: rgb(194, 206, 207);
    border-radius: 0.5rem;
    padding: 1rem;
    margin-top: 2rem;
}
.etusivu img {
    border-radius: 0.5rem;
    border: 2px solid rgb(255, 255, 255);
}



/* Digi Cafe  */

.json  {
    color: rgb(0, 0, 0);
    background-color: rgb(194, 206, 207);
    border-radius: 0.5rem;
    padding: 1rem;
    margin-top: 2rem;

}
.text-wrapper {
    padding: 0 1rem;
}
.json p:nth-child(1), .json p:nth-child(2), .json p:nth-child(3), .json p:nth-child(4) {
    padding: 0;
    margin: 0;
    font-size: small;
}
.json p:nth-child(5) {
    padding: 1rem 0;
}
.json p:nth-child(6) {
    padding: 1rem 0;
    font-weight: 400;
}
.json h1 {
    font-weight: 700;
}

/*  Palaveri */

.palaveri {
    background-color:rgb(194, 206, 207);
    border-radius: 0.5rem;
    margin-top: 1rem;
}




/* Työpaikat */

.ul-item-wrapper {
    background-color: rgb(194, 206, 207);
    color: rgb(0, 0, 0);
    font-family:'Segoe UI', sans-serif;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
    margin-left: 0;
}

.li_ala {
    font-weight: 800;
    list-style-type: none;
    padding-bottom: 0.5rem;
}
.ul-item-wrapper a {
    text-decoration: none;
    color: rgb(37, 150, 165);
    cursor: pointer;
}